@import "variables";
@import "typography";

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #af68ea 0%, #6462e7 100%);
  background-repeat: no-repeat;
}
.container {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.card {
  max-width: 920px;
  height: 510px;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left -530px bottom -140px;
  background-color: $White;
  display: flex;
  padding: 70px 0px 70px 95px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.illustration {
  position: relative;
  left: -230px;
}
.illustration__woman {
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 472px;
  height: 359px;
}
.illustration__box {
  background-image: url(../images/illustration-box-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 191px;
  height: 184px;
  position: absolute;
  top: 130px;
  left: -8px;
  filter: drop-shadow(0 5px 5px $Shadow);
  animation: box 3s infinite;
}
@keyframes box {
  from {
    transform: translateY(0);
    filter: drop-shadow(0 5px 5px $Shadow);
  }
  50% {
    transform: translateY(-20px);
    filter: drop-shadow(0 20px 5px $Shadow-top);
  }
  to {
    transform: translateY(0);
    filter: drop-shadow(0 5px 5px $Shadow);
  }
}
.info-block {
  position: relative;
  left: -12%;
  max-width: 350px;
}
.info-block__header {
  margin-bottom: 32px;
}
.menu {
  a {
    color: $Very-dark-desaturated-blue;
  }
}
.menu__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.arrow {
  margin-left: 20%;
  transition: transform 0.5s;
}
.menu__item-btn {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding: 12px 0;
  cursor: pointer;
}
.submenu {
  margin-bottom: 8px;
  animation: submenu 20s linear;
}
@keyframes submenu {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 100;
    top: 0;
  }
}
.closed {
  display: none;
}
.arrow-opened {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.opened {
  font-weight: 700;
}
.devider {
  background-color: $Light-grayish-blue;
  width: 100%;
  height: 1px;
  margin: 8px 0;
  // border-top: 1px solid $Light-grayish-blue;
  display: block;
}

@media screen and (max-width: 1248px) {
  .card {
    max-width: 720px;
  }
  .illustration {
    margin-right: 500px;
  }
  .info-block {
    position: absolute;
    left: 50%;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
}
